:root {
    --pale: #F7EAE8;
    --light-pink: #FDE3E5;
    --skin: #FFCFCB;
    --darker-skin: #FFC3C3;
    --light-grey: #CDBEC3;
    --light-blue: #DFEDF4;
    --darker-blue: #9BBBC4;
    --brown: #9E7E88;
}