:root {
    --pale: #F7EAE8;
    --light-pink: #FDE3E5;
    --skin: #FFCFCB;
    --darker-skin: #FFC3C3;
    --light-grey: #CDBEC3;
    --light-blue: #DFEDF4;
    --darker-blue: #9BBBC4;
    --dark-blue-2: #A4C3D2;
    --brown: #9E7E88;

    /* dark mode colours */
    --black: #121212;
    --red: #CF6679;
    --pink: #F796AE;
}