:root {
    --pale: #F7EAE8;
    --light-pink: #FDE3E5;
    --skin: #FFCFCB;
    --darker-skin: #FFC3C3;
    --light-grey: #CDBEC3;
    --light-blue: #DFEDF4;
    --darker-blue: #9BBBC4;
    --dark-blue-2: #A4C3D2;
    --brown: #9E7E88;

    /* dark mode colours */
    --black: #1c1b22;
    --red: #CF6679;
    --pink: #F796AE;

    /* Primary and secondary colours */
    --primary: #B2DfDB;
    --primary-light: #e5ffff;
    --primary-dark: #82ADA9;

    --secondary: #78909C;
    --secondary-light: #A7C0CD;
    --secondary-dark: #4B636E;

}