@import url("font.css");
@import url("colour.css");

body {
    margin: 0;
    
}

h1 {
    font-family: "jura-bold";
    color: var(--pink);
}

h2 {
    font-family: "montserrat-light";
    color: var(--pink);
}

p {
    font-family: "play-regular";
    color: var( --red);
}

.topic {
    font-family: "montserrat-regular";
    font-size: 20px;
}

/* div container fit to screen */
.container-main {
    display: flex;
    min-height: 100vh;
    background-color: var(--black); /* before was light blue*/
}

.intro {
    flex: 0 0 35%;
    padding-top: 15%;
    padding-left: 10%;
    padding-right: 5%;
}

.info {
    padding-top: 15%;
    padding-left: 5%;
    flex: 1;
}