@import url("font.css");
@import url("colour.css");

body {
    margin: 0;
    
}

h1 {
    font-family: "jura-bold";
}

h2 {
    font-family: "montserrat-light";
}

p {
    font-family: "play-regular";
}

.topic {
    font-family: "montserrat-regular";
    font-size: 20px;
}

/* div container fit to screen */
.container-main {
    display: flex;
    min-height: 100vh;
    background-color: var(--primary-light); /* before was light blue*/
}

.intro {
    flex: 0 0 35%;
    padding-top: 15%;
    padding-left: 11%;
    padding-right: 5%;
}

.info {
    padding-top: 15%;
    padding-left: 6%;
    flex: 1;
}